#city-input, #weather-output {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 25px;
}

#result {
  border-radius: 25px;
}

.banner {
  color: #327800;
  font-family: sans-serif;
}

body {
  background-color: #92f692;
}